<h1>{{title}}</h1>

<input type="text" #inputValue>
<button (click)="adicionarTarefa(inputValue.value); inputValue.value=''">Adicionar</button>

<ul>
  <li *ngFor='let tarefa of tarefas'>{{tarefa.title}}</li>
</ul>

<!-- <h1>{{title}}</h1>
<h4> Sub-legenda legal </h4>

<p>Total de nomes: {{nomes.length}}</p>
<p>Nome principal: {{nomePrincipal}}</p>

<div *ngIf="nomes.length <= 4">
  <input type="text" />
  <button>Adicionar</button>
</div>

<input type="text" #nomeInput (keyup.enter)="alterarNomePrincipalInput(nomeInput.value); nomeInput.value=''"/>

<ul>
  <li
  *ngFor="let item of nomes"
  [style.color]="corPrincipal"
  (click)="clicou(item)"
  >

    {{item.nome}} - {{item.idade}} anos - {{item.getTipo()}}
  </li>
</ul>

 -->
